{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Вход</h2>
    <form id="loginForm" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">Email:</label>
            <div class="input-wrapper">
                <input type="email" id="email" name="email" required placeholder="Введите ваш email">
                <button type="button" id="clearEmail" class="clear-button"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="input-group">
            <label for="password">Пароль:</label>
            <div class="input-wrapper">
                <input type="password" id="password" name="password" required placeholder="Введите ваш пароль">
                <button type="button" id="clearPassword" class="clear-button"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <button type="submit">Войти</button>
        <div class="social-login">
            <p>Или войти через:</p>
            <a href="{% url 'social:begin' 'vk-oauth2' %}" class="vk-login-button">
                <i class="fab fa-vk"></i> ВКонтакте
            </a>
        </div>
        <p id="errorMessage" class="error-message"></p>
        <div class="auth-links">
            <a href="{% url 'password_reset_request' %}">Забыли пароль?</a>
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
    </form>
</div>
{% endblock %}